<div class="container">
<div class="content-left-wrap col-md-12">

	<div id="primary" class="content-area">

		<main id="main" class="site-main" role="main">



			


				


<article id="post-22" class="post-22 page type-page status-publish hentry">

	<header class="entry-header">

		<h1 class="entry-title" style="margin: 40px 20px; text-align: center; font-size: 24px; font-weight: bold;">Terms &amp; Conditions</h1>

	</header><!-- .entry-header -->



	<div class="entry-content">

		<p>By enrolling as a user or using the GoHathi website or by using our services, you agree that you have read, understood and agree to legally abide by the terms and conditions (The Agreement) set forth below including any additional guidelines and future amendments.</p>
<p>1.	<strong>About us</strong><br>
GoHathi acts as a tempo aggregator and does not own any vehicle. We simply offer information and means to obtain transportation services offered by third party transportation providers, drivers or vehicle operators.</p>
<p>GoHathi will not be liable for any loss or damages, including any injury which you may suffer as a result of your vehicles journey in a Participating Vehicles hired through the Services and all your rights in relation thereto and in relation to the contract for hire between you and the relevant Participating vehicles shall be a matter between you and the relevant Participating vehicles.</p>
<p>2.	<strong>Additional charges</strong><br>
Applicable tolls, commercial state government taxes may be added to your fare. Additionally, cleaning or repair fee might be applicable in case of any damage to our vehicles.<br>
All the challans due to goods being transported will be borne by the customer.</p>
<p>Details of <em><strong>Free Waiting Time &amp; Waiting Charges</strong></em> are as follows: </p>
<p>For tempos (Mahindra Champion and Tata Ace), free loading and unloading time is 60 minutes. For tempos (Mahindra Champion and Tata Ace), above 60 minutes waiting charge is Rs. 2/min.</p>
<p>For Tata 407 (9.5 feet), free loading and unloading time is 90 minutes. For Tata 407 (9.5 feet), above 90 minutes waiting charge is Rs. 4/min.</p>
<p>For 14 feet truck, free loading and unloading time is 120 minutes. For 14 feet truck, above 120 minutes waiting charge is Rs. 4/min.</p>
<p>For 17 and 19 feet trucks, free loading and unloading time is of 120 minutes. For 17 and 19 feet trucks, above 120 minutes waiting charge is Rs. 6/min.</p>
<p>3.	<strong>Protecting your information</strong><br>
GoHathi does not sell or rent your information to third parties. We collect basic information like name, mobile, and addresses, required to complete an order. Any other information gathered by GoHathi will be used only to improve our services. As explained in the ‘Privacy Policy’, GoHathi does not disclose your information to third parties except as necessary; (i) to comply with government agency or court orders or requests; (ii) for GoHathi agents, vendors, and service providers to send communications to you.</p>
<p>4.	<strong>Indemnification</strong><br>
You agree to indemnify GoHathi, its parents, subsidiaries, affiliates, officers, directors and employees against all liabilities, claims, demands, damages or expenses that may arise: </p>
<p>– In relation to the use of GoHathi.com;<br>
– Any violation of the terms and conditions listed in this document;<br>
– Any transaction with a vendor listed on GoHathi.</p>
<p>Though, we make best efforts to ensure that the information present on GoHathi.com is accurate and up to date, we do not take any liability for any error or omission or any loss arising from the same.</p>
<p>5.	<strong>Disclaimers and Limitations on Liabilities:</strong><br>
GoHathi.com is being provided to member “as is” with no warranty. Company reserves the right to terminate any service at any time with or without notice. To the maximum extent permitted by law, GoHathi disclaims all representations and warranties, express or implied, with respect to the Program and Applications.<br>
In addition, GoHathi does not warrant that access to this site or use of its services will be uninterrupted or error-free, and we assumes no responsibility for any damage caused by your access or inability to access GoHathi.com.</p>
<p>6.	<strong>Law</strong><br>
All the provisions of this document and our relationship with each user of GoHathi, is governed by the laws of India.<br>
Any dispute arising in relation to this agreement would be exclusively subjected under the jurisdiction of Delhi court.</p>
<p>7.	<strong>Intellectual Property &amp; Copyright</strong><br>
GoHathi.com is protected by copyright. The site, in whole or in part, is for your personal use only. No one may copy, reproduce or distribute any part of this site with or without modification or any data contained within the site without our prior consent. No one may commercially exploit the identity, logo or services of GoHathi.com. </p>
<p><strong>Agreement Modifications:</strong><br>
GoHathi reserves right to modify the terms and conditions listed in this Agreement from time to time, with or without notice. Your continued participation in the Program after such modification shall be deemed to be your acceptance of any such modification. It is your responsibility to check the Terms &amp; Conditions page of our web site regularly to determine whether this Agreement has been modified. If you do not agree to any modification of this Agreement, you must immediately cease participation in the Program.</p>
<p>8.	<strong>Waiver</strong><br>
The failure of GoHathi to exercise or enforce any right or provision of this Agreement will not constitute a waiver of such right or provision. Any waiver of any provision of this Agreement will be effective only if in writing and signed by the GoHathi officials</p>
<p>9.	<strong>Severability</strong><br>
If any provision of this Agreement is held to be unlawful, void, invalid or otherwise unenforceable, then that provision will be limited or eliminated from this Agreement to the minimum extent required, and the remaining provisions will remain valid and enforceable.</p>
<p>10.	<strong>Assignment</strong><br>
This Agreement, and any rights granted here-under, may not be transferred or assigned by You without our prior written consent which may be withheld in our sole discretion, but may be assigned by us without restriction. Any assignment attempted to be made in violation of this provision shall be void and of no effect.</p>
<p>11.	<strong>Survival</strong><br>
Upon termination of this Agreement, any provision which, by its nature or express terms should survive, will survive such termination or expiration as applied to transfers and relationship prior to such termination or expiration.</p>
<p>12.	<strong>Headings</strong><br>
The heading references herein are for convenience purposes only, do not constitute a part of these Terms and Conditions, and will not be deemed to limit or affect any of the provisions hereof.</p>
<p>13.	<strong>Information</strong><br>
No User shall provide any false, deceptive or misleading information to GoHathi under any<br>
circumstances whatsoever. </p>
<p>14.	<strong>Contact</strong><br>
Users can send in their queries and reach out to us at gohathi@gohathi.com.</p>
<p>If at any time you do not agree to the above terms and conditions or do not wish to be bound by these terms and conditions, you may not access or use the site and immediately terminate your use of the services.</p>

		
	</div><!-- .entry-content -->

	
</article><!-- #post-## -->




				


			


		</main><!-- #main -->

	</div><!-- #primary -->

</div>
</div>